alabaster==1.0.0
apparmor==4.1.0
application-utility==1.4.0
argcomplete==3.5.3
attrs==24.1.0
Babel==2.15.0
btrfsutil==6.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
contourpy==1.3.2
cryptography==44.0.3
cycler==0.12.1
dbus-python==1.4.0
distro==1.9.0
docopt==0.6.2
docutils==0.21.2
filelock==3.18.0
fonttools==4.58.0
gufw==24.4.0
idna==3.10
imagesize==1.4.1
Jinja2==3.1.5
keyutils==0.6
kiwisolver==1.4.6
legacy-cgi==2.6.3
lensfun==0.3.4
LibAppArmor==4.1.0
lightdm-gtk-greeter-settings==1.2.3
lit==19.1.7.dev0
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.10.3
menulibre==2.4.0
mugshot==0.4.3
nftables==0.1
npyscreen==4.10.5
numpy==2.2.5
packaging==25.0
pacman_mirrors==4.27
pexpect==4.9.0
pillow==11.2.1
pipx==1.7.1
platformdirs==4.3.6
ply==3.11
psutil==7.0.0
ptyprocess==0.7.0
pycairo==1.28.0
pycparser==2.22
Pygments==2.19.1
PyGObject==3.52.3
pyparsing==3.2.2
PySide6==6.9.0
python-dateutil==2.9.0
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.2
requests==2.32.3
roman-numerals-py==3.1.0
shiboken6==6.9.0
shiboken6-generator==6.9.0
six==1.17.0
snowballstemmer==2.2.0
speedtest-cli==2.1.3
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
TBB==0.2
udiskie==2.5.7
ufw==0.36.2
urllib3==2.4.0
userpath==1.9.2
wheel==0.45.1
